## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ndago,TZ,-4.6000,34.3500,66.00,68,100,6.53,overcast clouds
1,1,Bandarbeyla,SO,9.4942,50.8122,75.16,68,4,12.86,clear sky
2,2,Yinchuan,CN,38.4681,106.2731,28.81,37,57,5.91,broken clouds
3,3,Carnarvon,AU,-24.8667,113.6333,77.07,69,0,19.57,clear sky
4,4,Ndago,TZ,-4.6000,34.3500,66.00,68,100,6.53,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ndago,TZ,-4.6000,34.3500,66.00,68,100,6.53,overcast clouds
1,1,Bandarbeyla,SO,9.4942,50.8122,75.16,68,4,12.86,clear sky
2,2,Yinchuan,CN,38.4681,106.2731,28.81,37,57,5.91,broken clouds
3,3,Carnarvon,AU,-24.8667,113.6333,77.07,69,0,19.57,clear sky
4,4,Ndago,TZ,-4.6000,34.3500,66.00,68,100,6.53,overcast clouds
5,5,Bandarbeyla,SO,9.4942,50.8122,75.16,68,4,12.86,clear sky
6,6,Yinchuan,CN,38.4681,106.2731,28.81,37,57,5.91,broken clouds
7,7,Carnarvon,AU,-24.8667,113.6333,77.07,69,0,19.57,clear sky
8,8,Lebu,CL,-37.6167,-73.6500,56.82,85,0,12.97,clear sky
9,9,Tongliao,CN,43.6125,122.2653,26.46,74,8,12.35,clear sky

In [5]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.count()

City_ID                679
City                   679
Country                671
Lat                    679
Lng                    679
Max Temp               679
Humidity               679
Cloudiness             679
Wind Speed             679
Current Description    679
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df =preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ndago,TZ,66.00,overcast clouds,-4.6000,34.3500,
1,Bandarbeyla,SO,75.16,clear sky,9.4942,50.8122,
2,Yinchuan,CN,28.81,broken clouds,38.4681,106.2731,
3,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,
4,Ndago,TZ,66.00,overcast clouds,-4.6000,34.3500,
5,Bandarbeyla,SO,75.16,clear sky,9.4942,50.8122,
6,Yinchuan,CN,28.81,broken clouds,38.4681,106.2731,
7,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,
8,Lebu,CL,56.82,clear sky,-37.6167,-73.6500,
9,Tongliao,CN,26.46,clear sky,43.6125,122.2653,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    #print(hotels)
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        #print("Hotel found")
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ndago,TZ,66.00,overcast clouds,-4.6000,34.3500,
1,Bandarbeyla,SO,75.16,clear sky,9.4942,50.8122,JABIR HOTEL
2,Yinchuan,CN,28.81,broken clouds,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
3,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,Hospitality Carnarvon
4,Ndago,TZ,66.00,overcast clouds,-4.6000,34.3500,
5,Bandarbeyla,SO,75.16,clear sky,9.4942,50.8122,JABIR HOTEL
6,Yinchuan,CN,28.81,broken clouds,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
7,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,Hospitality Carnarvon
8,Lebu,CL,56.82,clear sky,-37.6167,-73.6500,Hostal Las Lilas
9,Tongliao,CN,26.46,clear sky,43.6125,122.2653,Meirujia Hotel

In [26]:
# 7. Drop the rows where there is no Hotel Name.

nan_value = float("NaN")

hotel_df.replace("", nan_value, inplace=True)

clean_hotel_df = hotel_df.dropna(subset = ["Hotel Name"])

clean_hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bandarbeyla,SO,75.16,clear sky,9.4942,50.8122,JABIR HOTEL
2,Yinchuan,CN,28.81,broken clouds,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
3,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,Hospitality Carnarvon
5,Bandarbeyla,SO,75.16,clear sky,9.4942,50.8122,JABIR HOTEL
6,Yinchuan,CN,28.81,broken clouds,38.4681,106.2731,JJ Inns - Yinchuan New Moon Square Branch
7,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,Hospitality Carnarvon
8,Lebu,CL,56.82,clear sky,-37.6167,-73.6500,Hostal Las Lilas
9,Tongliao,CN,26.46,clear sky,43.6125,122.2653,Meirujia Hotel
10,Port Elizabeth,ZA,64.09,light rain,-33.9180,25.5701,39 On Nile Guest House
11,Atambua,ID,81.16,overcast clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
13,Codrington,AU,77.23,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
15,Mar Del Plata,AR,63.88,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
16,Punta Arenas,CL,51.91,broken clouds,-53.1500,-70.9167,Hotel Hain
17,Margate,GB,41.97,overcast clouds,51.3813,1.3862,Premier Inn Margate hotel
19,Marawi,PH,69.66,broken clouds,7.9986,124.2928,Derogongan Residence

In [27]:
# 8a. Create the output File (CSV)

output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))